  <div class="card bg-base-100 shadow-sm">
        <div class="card-body">
            <span class="badge badge-xs badge-warning">Aqui va el estado</span>
            <div class="flex justify-between">
                <h2 class="text-3xl font-bold">Paciente</h2>
                <span class="text-xl">1144555666</span>
            </div>
            <ul class="mt-6 flex flex-col gap-2 text-xs">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span>Tratamiento activo</span>
                </li>
                       <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span>Tratamiento activo</span>
                </li>
 
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-success" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span class="line-through">Tratamiento compeltado 1</span>
                </li>
                <li class="opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span class="line-through">Tratamiento compeltado 2</span>
                </li>
                <li class="opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 me-2 inline-block text-base-content/50"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                    <span class="line-through">Tratamiento compeltado 3</span>
                </li>
            </ul>
            <div class="mt-6">
                <a class="btn btn-primary btn-block" [routerLink]="['/info', 'data']">Más información</a>
            </div>
        </div>
    </div>