<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-64 p-2 shadow">
        <li *ngIf="authService.user?.rol === 'ADMINISTRATIVO'">
        <a routerLink="/sedes" routerLinkActive="text-secondary">Sedes</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO'].includes(authService.user?.rol ?? '')">
        <a routerLink="/profesionales" routerLinkActive="text-secondary">Profesionales</a>
      </li>
      <li *ngIf="authService.user?.rol === 'ADMINISTRATIVO'">
        <a routerLink="/administrativos" routerLinkActive="text-secondary">Administrativos</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL'].includes(authService.user?.rol ?? '')">
        <a routerLink="/pacientes" routerLinkActive="text-secondary">Pacientes</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL'].includes(authService.user?.rol ?? '')">
        <a routerLink="/historias" routerLinkActive="text-secondary">Historia clínica</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL', 'PACIENTE'].includes(authService.user?.rol ?? '')">
        <a routerLink="/citas" routerLinkActive="text-secondary">Citas</a>
      </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">Medical</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li *ngIf="authService.user?.rol === 'ADMINISTRATIVO'">
        <a routerLink="/sedes" routerLinkActive="text-secondary">Sedes</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO'].includes(authService.user?.rol ?? '')">
        <a routerLink="/profesionales" routerLinkActive="text-secondary">Profesionales</a>
      </li>
      <li *ngIf="authService.user?.rol === 'ADMINISTRATIVO'">
        <a routerLink="/administrativos" routerLinkActive="text-secondary">Administrativos</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL'].includes(authService.user?.rol ?? '')">
        <a routerLink="/pacientes" routerLinkActive="text-secondary">Pacientes</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL'].includes(authService.user?.rol ?? '')">
        <a routerLink="/historias" routerLinkActive="text-secondary">Historia clínica</a>
      </li>
      <li *ngIf="['ADMINISTRATIVO', 'PROFESIONAL', 'PACIENTE'].includes(authService.user?.rol ?? '')">
        <a routerLink="/citas" routerLinkActive="text-secondary">Citas</a>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <a class="btn" (click)="logout()">Salir</a>
  </div>
</div>